.navbar {
  background-color: white;
  padding: 15px 50px;
  border-bottom: 1px solid #eee;
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;  
  right: 0; 
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: inline-block;
  margin-top: 40px;
}

.logo a {
  color: #510808;
  font-size: 37px;
  font-weight: bold;
  text-decoration: none;
}

.nav-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  flex-direction: row; 
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 300px;
  margin-top: 6px;
}

.nav-links li {
  display: flex; 
  margin: 0 15px; 
}

.nav-links a {
  color: #666;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 15px; 
  display: inline-block; 
}

.nav-links a:hover,
.nav-links a.active {
  color: rgb(161, 3, 3);
}

.auth-links {
  display: flex;
  gap: 30px;
  margin-right: 100px;
}

.auth-links a {
  color: rgba(0, 0, 0, 0.778);
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.auth-links a:hover {
  color: rgb(187, 143, 10);
}
